.popup {
    position: fixed;
    font-family: 'Inter', Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 9;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: auto;
    align-items: center;
    justify-content: center;
   }


   .popup__photo {
       background-color: white;
       width: 300px;
       height: 200px;
       position: relative;
   }