.popup__input {
    max-width: 358px;
    max-height: 23px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
    padding-bottom: 13px;
    padding-top: 0;
    margin-bottom: 30px;
    margin-left: 36px;
  }
  
  .popup__input:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (max-width: 767px) {
    .popup__input {
      max-width: 238px;
      margin-left: 22px;
    }
  }