.profile__button_img {
    max-height: 50px;
    max-width: 150px;
    background-image: url(/images/add_button.png);
  }

  @media screen and (max-width: 767px) {
    .profile__button_img {
      max-height: 50px;
      max-width: 282px;
      background-image: url(/images/add_button_767.png);
    }
  }