.card__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 31px;
    margin-left: 21px;
    max-width: 246px;
    align-items: center;
}